<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Iniciar Sesión - MotoMatch</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="login-box">
    <h1>Iniciar Sesión</h1>
    <form action="/login" method="POST">
      <div class="user-box">
        <input type="text" name="username" required="">
        <label>Usuario</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Contraseña</label>
      </div>
      <button type="submit">Entrar</button>
    </form>
    <p style="margin-top: 20px;">¿No tienes una cuenta? <a href="/register" class="link">Regístrate aquí</a></p>
  </div>
  <footer>
    <p>&copy; 2025 MotoMatch. Todos los derechos reservados. | <a href="/" class="link">Inicio</a> </p>
  </footer>
</body>
</html>